body {
}
#app {
    /* TODO: seems wrong to do this */
    margin-top: 57px;
}

#exportSideBar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#entityDescriptorList {
    padding: 0 20px 20px 20px;
}

.panel-group .active .panel-heading {
    background-color: #e0e7e0;
}
